# Spring Application Configuration
SPRING_APPLICATION_NAME=eco-monitoring-analysis

# Consul Configuration
SPRING_CLOUD_CONSUL_HOST=localhost
SPRING_CLOUD_CONSUL_PORT=8500

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_CLIENT=client
KAFKA_CLIENT_PASSWORD=client-secret-pass
KAFKA_INGESTION_TOPIC=main.topic.name

# Server Configuration
SERVER_PORT=8081
SERVER_HOST=localhost
