# Spring Application Configuration
SPRING_INGESTION_APPLICATION_NAME=eco-monitoring-ingestion
SPRING_ANALYSIS_APPLICATION_NAME=eco-monitoring-analysis
SPRING_HISTORY_APPLICATION_NAME=eco-monitoring-history

# Server Configuration
INGESTION_APPLICATION_SERVER_PORT=8080
ANALYSIS_APPLICATION_SERVER_PORT=8081
HISTORY_APPLICATION_SERVER_PORT=8082
SERVER_HOST=10.10.5.253

# Vector sidecar Configuration
VECTOR_SERVICE_NAME=vector-sidecar

# Consul Configuration
SPRING_CLOUD_CONSUL_HOST=localhost
SPRING_CLOUD_CONSUL_PORT=8500

# Kafka Configuration
KAFKA_SERVICE_NAME=kafka
KAFKA_CLIENT=client

#Redis Configuration
SPRING_DATA_REDIS_SERVICE_NAME=redis-cache

#Postgres Configuration
SPRING_DATA_DB_NAME=eco_platform_history_service_db
SPRING_DATA_SERVICE_NAME=pg-db
POSTGRES_DB_SCHEMA=history_service

LOGSTASH_TCP_DESTINATION=localhost:6001