KAFKA_CLIENT=client
KAFKA_CLIENT_PASSWORD=client-secret-pass
SPRING_DATA_REDIS_PASSWORD=my_super_secret_redis_password
SPRING_DATA_POSTGRES_USER_NAME=eco_user
SPRING_DATA_POSTGRES_PASSWORD=my_super_secret_eco_user_password