CONSUL_URL=http://consul-server:8500/v1/agent/service/register

HOST_IP=10.10.5.253

VAULT_ADDR=http://vault-server:8200

KAFKA_WEATHER_LIVE_TOPIC=environment.weather.telemetry.live
KAFKA_WEATHER_RAW_TOPIC=environment.weather.telemetry.raw
KAFKA_WEATHER_HISTORY_TOPIC=environment.weather.telemetry.history

POSTGRES_DB=eco_platform_history_service_db
POSTGRES_DB_SCHEMA=history_service
PGDATA=/var/lib/postgresql/data/pgdata