KAFKA_CLIENT="client"
KAFKA_CLIENT_PASSWORD="client-secret-pass"
KAFKA_REGISTRY="registry"
KAFKA_REGISTRY_PASSWORD="registry-secret-pass"
KAFKA_VECTOR="vector"
KAFKA_VECTOR_PASSWORD="vector-secret-pass"
KAFKA_ADMIN="admin"
KAFKA_ADMIN_PASSWORD="admin-password"
SPRING_KAFKA_STREAMS_STATE_DIR="/var/lib/kafka-streams/analysis-state"
