CONSUL_URL=http://consul-server:8500/v1/agent/service/register

KAFKA_CLIENT=client
KAFKA_CLIENT_PASSWORD=client-secret-pass
KAFKA_REGISTRY=registry
KAFKA_REGISTRY_PASSWORD=registry-secret-pass
KAFKA_VECTOR=vector
KAFKA_VECTOR_PASSWORD=vector-secret-pass
KAFKA_ADMIN=admin
KAFKA_ADMIN_PASSWORD=admin-password

KAFKA_WEATHER_LIVE_TOPIC=environment.weather.telemetry.live
KAFKA_WEATHER_RAW_TOPIC=environment.weather.telemetry.raw
KAFKA_WEATHER_HISTORY_TOPIC=environment.weather.telemetry.history

POSTGRES_DB=eco_platform_history_service_db
POSTGRES_DB_SCHEMA=history_service
POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
PGDATA=/var/lib/postgresql/data/pgdata
ECO_USER_NAME=eco_user
ECO_USER_PASSWORD_FILE=/run/secrets/eco_user_password

CLICKHOUSE_DB=eco_telemetry_logs_db
CLICKHOUSE_USER=eco_admin
CLICKHOUSE_PASSWORD=my_highly_secure_clickhouse_production_pass
CLICKHOUSE_DEFAULT_PASSWORD=my_temporary_bootstrap_lockout_pass_123_73928173

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=my_highly_secure_grafana_dashboard_pass_2026!