# Spring Application Configuration
SPRING_APPLICATION_NAME=eco-monitoring-ingestion

# Consul Configuration
SPRING_CLOUD_CONSUL_HOST=localhost
SPRING_CLOUD_CONSUL_PORT=8500

# Vector Sidecar Configuration
VECTOR_SIDECAR_HOST=localhost
VECTOR_SIDECAR_PORT=6000

# Server Configuration
SERVER_PORT=8080