POSTGRES_ECO_USER_NAME=eco_user
POSTGRES_ECO_USER_PASSWORD=my_super_secret_eco_user_password
POSTGRES_METRICS_USER_NAME=postgres_metrics_exporter
POSTGRES_METRICS_USER_PASSWORD=my_super_secret_postgres_metrics_exporter_password
POSTGRES_POSTGRES_PASSWORD=my_super_secret_postgres_password
REDIS_PASSWORD=my_super_secret_redis_password
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=my_highly_secure_clickhouse_production_pass
CLICKHOUSE_SHA256_PASSWORD=637b2168c969a87fd0cde6c25c73aa649271d91051b06c2ff53fae329c0d13f7
# clickhouse_default_password="my_temporary_bootstrap_lockout_pass_123_73928173"
CLICKHOUSE_SHA256_DEFAULT_PASSWORD=2cc215760674f9439d8c2340a654ceeda481f60fe26c57ac74cc8919dd713504
CLICKHOUSE_DB=eco_telemetry_logs
# Prometheus password: my_actual_password (hashed with bcrypt)
PROMETHEUS_BASIC_AUTH_USERS=eco_admin: '$2b$12$2MDyAb2OH4nQIoKGETU7S.1ONxa70ATSJUqJbI5z0f.ZT/Hj5MRmi'
PROMETHEUS_USER=eco_admin
PROMETHEUS_PASSWORD=my_actual_password
PROMETHEUS_PG_DB_METRICS_USER_NAME=postgres_metrics_exporter
PROMETHEUS_PG_DB_METRICS_USER_PASSWORD=my_super_secret_postgres_metrics_exporter_password
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=my_highly_secure_grafana_dashboard_pass_2026
KAFKA_ADMIN_USER=admin
KAFKA_ADMIN_PASS=admin-password
KAFKA_REGISTRY_USER=registry
KAFKA_REGISTRY_PASS=registry-secret-pass
KAFKA_VECTOR_USER=vector
KAFKA_VECTOR_PASS=vector-secret-pass
KAFKA_CLIENT_USER=client
KAFKA_CLIENT_PASS=client-secret-pass